# COGS 108 - Data Checkpoint

# Names

- Cassandra Henrickson
- Daniel Han
- Ezra Lu
- Jasmine Qiang
- Wing Leung (Calvin)

<a id='research_question'></a>
# Research Question

How do different weather conditions (rain, fog, clouds, or clear) affect the severity of car accidents in California?

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name: US Accidents 
- Link to the dataset: https://www.kaggle.com/sobhanmoosavi/us-accidents?select=US_Accidents_Dec20.csv
- Number of observations: 4232541 

1-2 sentences describing each dataset. 

This dataset is a collection of car accident data across 49 US states from February 2016 to December 2020, taken from traffic APIs. It describes different variables present at each accident, including weather condition, severity of traffic jam caused by the accident, time of the accident (via start and end of the traffic jam), and location. 


If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [3]:
## YOUR CODE HERE
# Import seaborn and apply its plotting styles
import seaborn as sns
sns.set(style="white", font_scale=2)

# import matplotlib
import matplotlib as mpl
import matplotlib.pyplot as plt
# set plotting size parameter
plt.rcParams['figure.figsize'] = (17, 7)

# make sure pandas & numpy are imported
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

#improve resolution
#comment this line if erroring on your machine/screen
%config InlineBackend.figure_format ='retina'

In [9]:
df = pd.read_csv('US_Accidents_Dec20.csv')

In [10]:
df.sum

<bound method DataFrame.sum of                 ID    Source    TMC  Severity           Start_Time  \
0              A-1  MapQuest  201.0         3  2016-02-08 05:46:00
1              A-2  MapQuest  201.0         2  2016-02-08 06:07:59
2              A-3  MapQuest  201.0         2  2016-02-08 06:49:27
3              A-4  MapQuest  201.0         3  2016-02-08 07:23:34
4              A-5  MapQuest  201.0         2  2016-02-08 07:39:07
...            ...       ...    ...       ...                  ...
4232536  A-4239402      Bing    NaN         2  2019-08-23 18:03:25
4232537  A-4239403      Bing    NaN         2  2019-08-23 19:11:30
4232538  A-4239404      Bing    NaN         2  2019-08-23 19:00:21
4232539  A-4239405      Bing    NaN         2  2019-08-23 19:00:21
4232540  A-4239406      Bing    NaN         2  2019-08-23 18:52:06

                    End_Time  Start_Lat   Start_Lng   End_Lat    End_Lng  ...  \
0        2016-02-08 11:00:00  39.865147  -84.058723       NaN        NaN  ...
1        2016-02-08 06:37:59  39.928059  -82.831184       NaN        NaN  ...
2        2016-02-08 07:19:27  39.063148  -84.032608       NaN        NaN  ...
3        2016-02-08 07:53:34  39.747753  -84.205582       NaN        NaN  ...
4        2016-02-08 08:09:07  39.627781  -84.188354       NaN        NaN  ...
...                      ...        ...         ...       ...        ...  ...
4232536  2019-08-23 18:32:01  34.002480 -117.379360  33.99888 -117.37094  ...
4232537  2019-08-23 19:38:23  32.766960 -117.148060  32.76555 -117.15363  ...
4232538  2019-08-23 19:28:49  33.775450 -117.847790  33.77740 -117.85727  ...
4232539  2019-08-23 19:29:42  33.992460 -118.403020  33.98311 -118.39565  ...
4232540  2019-08-23 19:21:31  34.133930 -117.230920  34.13736 -117.23934  ...

         Roundabout Station   Stop Traffic_Calming Traffic_Signal  \
0             False   False  False           False          False
1             False   False  False           False          False
2             False   False  False           False           True
3             False   False  False           False          False
4             False   False  False           False           True
...             ...     ...    ...             ...            ...
4232536       False   False  False           False          False
4232537       False   False  False           False          False
4232538       False   False  False           False          False
4232539       False   False  False           False          False
4232540       False   False  False           False          False

        Turning_Loop Sunrise_Sunset Civil_Twilight Nautical_Twilight  \
0              False          Night          Night             Night
1              False          Night          Night             Night
2              False          Night          Night               Day
3              False          Night            Day               Day
4              False            Day            Day               Day
...              ...            ...            ...               ...
4232536        False            Day            Day               Day
4232537        False            Day            Day               Day
4232538        False            Day            Day               Day
4232539        False            Day            Day               Day
4232540        False            Day            Day               Day

        Astronomical_Twilight
0                       Night
1                         Day
2                         Day
3                         Day
4                         Day
...                       ...
4232536                   Day
4232537                   Day
4232538                   Day
4232539                   Day
4232540                   Day

[4232541 rows x 49 columns]>

In [6]:
df.head

<bound method NDFrame.head of                 ID    Source    TMC  Severity           Start_Time  \
0              A-1  MapQuest  201.0         3  2016-02-08 05:46:00
1              A-2  MapQuest  201.0         2  2016-02-08 06:07:59
2              A-3  MapQuest  201.0         2  2016-02-08 06:49:27
3              A-4  MapQuest  201.0         3  2016-02-08 07:23:34
4              A-5  MapQuest  201.0         2  2016-02-08 07:39:07
...            ...       ...    ...       ...                  ...
4232536  A-4239402      Bing    NaN         2  2019-08-23 18:03:25
4232537  A-4239403      Bing    NaN         2  2019-08-23 19:11:30
4232538  A-4239404      Bing    NaN         2  2019-08-23 19:00:21
4232539  A-4239405      Bing    NaN         2  2019-08-23 19:00:21
4232540  A-4239406      Bing    NaN         2  2019-08-23 18:52:06

                    End_Time  Start_Lat   Start_Lng   End_Lat    End_Lng  ...  \
0        2016-02-08 11:00:00  39.865147  -84.058723       NaN        NaN  ...
1        2016-02-08 06:37:59  39.928059  -82.831184       NaN        NaN  ...
2        2016-02-08 07:19:27  39.063148  -84.032608       NaN        NaN  ...
3        2016-02-08 07:53:34  39.747753  -84.205582       NaN        NaN  ...
4        2016-02-08 08:09:07  39.627781  -84.188354       NaN        NaN  ...
...                      ...        ...         ...       ...        ...  ...
4232536  2019-08-23 18:32:01  34.002480 -117.379360  33.99888 -117.37094  ...
4232537  2019-08-23 19:38:23  32.766960 -117.148060  32.76555 -117.15363  ...
4232538  2019-08-23 19:28:49  33.775450 -117.847790  33.77740 -117.85727  ...
4232539  2019-08-23 19:29:42  33.992460 -118.403020  33.98311 -118.39565  ...
4232540  2019-08-23 19:21:31  34.133930 -117.230920  34.13736 -117.23934  ...

         Roundabout Station   Stop Traffic_Calming Traffic_Signal  \
0             False   False  False           False          False
1             False   False  False           False          False
2             False   False  False           False           True
3             False   False  False           False          False
4             False   False  False           False           True
...             ...     ...    ...             ...            ...
4232536       False   False  False           False          False
4232537       False   False  False           False          False
4232538       False   False  False           False          False
4232539       False   False  False           False          False
4232540       False   False  False           False          False

        Turning_Loop Sunrise_Sunset Civil_Twilight Nautical_Twilight  \
0              False          Night          Night             Night
1              False          Night          Night             Night
2              False          Night          Night               Day
3              False          Night            Day               Day
4              False            Day            Day               Day
...              ...            ...            ...               ...
4232536        False            Day            Day               Day
4232537        False            Day            Day               Day
4232538        False            Day            Day               Day
4232539        False            Day            Day               Day
4232540        False            Day            Day               Day

        Astronomical_Twilight
0                       Night
1                         Day
2                         Day
3                         Day
4                         Day
...                       ...
4232536                   Day
4232537                   Day
4232538                   Day
4232539                   Day
4232540                   Day

[4232541 rows x 49 columns]>

# Data Cleaning

Describe your data cleaning steps here.

In [7]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

In [8]:
# CA has 971856 accidents
a = df[df["State"] == 'CA']
accident_california = a['State'].count()
accident_california

972585

In [11]:
#slicing df to only include columns we need - Severity, State, and Weather Condition
df = df.loc[:, ['Severity', 'State', 'Weather_Condition']]

#slicing to only get car accidents that happened in California
df = df.loc[df['State'] == 'CA']

In [12]:
#slicing df to only include car accident observations with certain weather conditions
df = df.loc[(df['Weather_Condition'] =='Rain') \
            | (df['Weather_Condition'] == 'Light Rain') \
            | (df['Weather_Condition'] == 'Fog') \
            | (df['Weather_Condition'] == 'Cloudy') \
            | (df['Weather_Condition'] == 'Overcast') \
            | (df['Weather_Condition'] == 'Clear')]

In [13]:
#show cleaned df of car accident data                                                               
df

         Severity State Weather_Condition
728             3    CA             Clear
729             3    CA             Clear
730             2    CA             Clear
731             3    CA             Clear
732             2    CA             Clear
...           ...   ...               ...
4232087         3    CA            Cloudy
4232091         2    CA            Cloudy
4232504         3    CA            Cloudy
4232505         2    CA            Cloudy
4232506         3    CA            Cloudy

[421384 rows x 3 columns]

# Project Proposal (updated)

| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 1/20  |  7 PM | Read & Think about COGS 108 expectations; brainstorm topics/questions  | Determine best form of communication; Discuss and decide on final project topic; discuss hypothesis; begin background research | 
| 1/27  |  7 PM |  Do background research on topic | Discuss ideal dataset(s) and ethics; draft project proposal | 
| 2/3  | 7 PM  | Edit, finalize, and submit proposal; Search for datasets  | Discuss Wrangling and possible analytical approaches; Assign group members to lead each specific part   |
| 2/10  | 7 PM    |  finish finding data and writing code, etc | Discuss/edit, complete check-in 1: Data|
| 2/17  | 7 PM    | Import & Wrangle Data; EDA | Review/Edit wrangling/EDA; Discuss Analysis Plan   |
| 2/24  | 7 PM   | Finalize wrangling/EDA; Begin Analysis  | Discuss/edit Analysis; Complete project check-in: EDA |
| 3/03  | 7 PM   | more analysis; Draft results/conclusion/discussion | Discuss/edit full project |
| 3/10  | 7 PM   | Complete analysis; Draft results/conclusion/discussion | Discuss/edit full project |
| 3/17  | Before 11:59 PM  | NA | Turn in Final Project & Group Project Surveys |