# COGS 108 - Data Checkpoint

# Names

- Ant Man
- Hulk
- Iron Man
- Thor
- Wasp

<a id='research_question'></a>
# Research Question

*Fill in your research question here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [135]:
## YOUR CODE HERE
# Import seaborn and apply its plotting styles
import seaborn as sns
sns.set(style="white", font_scale=2)

# import matplotlib
import matplotlib as mpl
import matplotlib.pyplot as plt
# set plotting size parameter
plt.rcParams['figure.figsize'] = (17, 7)

# make sure pandas & numpy are imported
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

#improve resolution
#comment this line if erroring on your machine/screen
%config InlineBackend.figure_format ='retina'

In [136]:
df = pd.read_csv('US_Accidents_Dec20.csv')

In [137]:
df.head

<bound method NDFrame.head of                 ID    Source    TMC  Severity           Start_Time  \
0              A-1  MapQuest  201.0         3  2016-02-08 05:46:00
1              A-2  MapQuest  201.0         2  2016-02-08 06:07:59
2              A-3  MapQuest  201.0         2  2016-02-08 06:49:27
3              A-4  MapQuest  201.0         3  2016-02-08 07:23:34
4              A-5  MapQuest  201.0         2  2016-02-08 07:39:07
...            ...       ...    ...       ...                  ...
4229389  A-4239402      Bing    NaN         2  2019-08-23 18:03:25
4229390  A-4239403      Bing    NaN         2  2019-08-23 19:11:30
4229391  A-4239404      Bing    NaN         2  2019-08-23 19:00:21
4229392  A-4239405      Bing    NaN         2  2019-08-23 19:00:21
4229393  A-4239406      Bing    NaN         2  2019-08-23 18:52:06

                    End_Time  Start_Lat   Start_Lng   End_Lat    End_Lng  ...  \
0        2016-02-08 11:00:00  39.865147  -84.058723       NaN        NaN  ...
1        2016-02-08 06:37:59  39.928059  -82.831184       NaN        NaN  ...
2        2016-02-08 07:19:27  39.063148  -84.032608       NaN        NaN  ...
3        2016-02-08 07:53:34  39.747753  -84.205582       NaN        NaN  ...
4        2016-02-08 08:09:07  39.627781  -84.188354       NaN        NaN  ...
...                      ...        ...         ...       ...        ...  ...
4229389  2019-08-23 18:32:01  34.002480 -117.379360  33.99888 -117.37094  ...
4229390  2019-08-23 19:38:23  32.766960 -117.148060  32.76555 -117.15363  ...
4229391  2019-08-23 19:28:49  33.775450 -117.847790  33.77740 -117.85727  ...
4229392  2019-08-23 19:29:42  33.992460 -118.403020  33.98311 -118.39565  ...
4229393  2019-08-23 19:21:31  34.133930 -117.230920  34.13736 -117.23934  ...

         Roundabout Station   Stop Traffic_Calming Traffic_Signal  \
0             False   False  False           False          False
1             False   False  False           False          False
2             False   False  False           False           True
3             False   False  False           False          False
4             False   False  False           False           True
...             ...     ...    ...             ...            ...
4229389       False   False  False           False          False
4229390       False   False  False           False          False
4229391       False   False  False           False          False
4229392       False   False  False           False          False
4229393       False   False  False           False          False

        Turning_Loop Sunrise_Sunset Civil_Twilight Nautical_Twilight  \
0              False          Night          Night             Night
1              False          Night          Night             Night
2              False          Night          Night               Day
3              False          Night            Day               Day
4              False            Day            Day               Day
...              ...            ...            ...               ...
4229389        False            Day            Day               Day
4229390        False            Day            Day               Day
4229391        False            Day            Day               Day
4229392        False            Day            Day               Day
4229393        False            Day            Day               Day

        Astronomical_Twilight
0                       Night
1                         Day
2                         Day
3                         Day
4                         Day
...                       ...
4229389                   Day
4229390                   Day
4229391                   Day
4229392                   Day
4229393                   Day

[4229394 rows x 49 columns]>

In [138]:
# CA has 971856 accident
a = df[df["State"] == 'CA']
b = a['State'].count()
b

971856

In [139]:
df = df.loc[:, ['Severity', 'State', 'Weather_Condition']]
df = df.loc[df['State'] == 'CA']

In [140]:
df = df.loc[(df['Weather_Condition'] =='Rain') \
            | (df['Weather_Condition'] == 'Light Rain') \
            | (df['Weather_Condition'] == 'Fog') \
            | (df['Weather_Condition'] == 'Cloudy') \
            | (df['Weather_Condition'] == 'Overcast') \
            | (df['Weather_Condition'] == 'Clear')]
                                                                  
df

         Severity State Weather_Condition
728             3    CA             Clear
729             3    CA             Clear
730             2    CA             Clear
731             3    CA             Clear
732             2    CA             Clear
...           ...   ...               ...
4228940         3    CA            Cloudy
4228944         2    CA            Cloudy
4229357         3    CA            Cloudy
4229358         2    CA            Cloudy
4229359         3    CA            Cloudy

[421288 rows x 3 columns]

# Data Cleaning

Describe your data cleaning steps here.

In [141]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Project Proposal (updated)

| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 1/20  |  1 PM | Read & Think about COGS 108 expectations; brainstorm topics/questions  | Determine best form of communication; Discuss and decide on final project topic; discuss hypothesis; begin background research | 
| 1/26  |  10 AM |  Do background research on topic | Discuss ideal dataset(s) and ethics; draft project proposal | 
| 2/1  | 10 AM  | Edit, finalize, and submit proposal; Search for datasets  | Discuss Wrangling and possible analytical approaches; Assign group members to lead each specific part   |
| 2/14  | 6 PM  | Import & Wrangle Data (Ant Man); EDA (Hulk) | Review/Edit wrangling/EDA; Discuss Analysis Plan   |
| 2/23  | 12 PM  | Finalize wrangling/EDA; Begin Analysis (Iron Man; Thor) | Discuss/edit Analysis; Complete project check-in |
| 3/13  | 12 PM  | Complete analysis; Draft results/conclusion/discussion (Wasp)| Discuss/edit full project |
| 3/19  | Before 11:59 PM  | NA | Turn in Final Project & Group Project Surveys |